# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Generated results
results*/
*.ods
*.xls
*.xlsx
*.csv
*.pptx

# Temporary Office files
~$*
test.py

# VS Code (optional)
*code-workspace
.vscode/